RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/css
RewriteCond %{REQUEST_URI} !/fonts
RewriteCond %{REQUEST_URI} !/images
RewriteCond %{REQUEST_URI} !/js
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]